.section2 {
  background: $color1;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  padding: 20px;
  h3 {
    color: $color5;
    font-size: 1.5rem;
  }
  h4{
    color: whitesmoke;
  }
}
